# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/

# Local project context
CLAUDE.md
.claude/
