<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAlarmKitUsageDescription</key>
	<string>Larder uses alarms so your Cook Mode timers ring even when your phone is locked.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>Background</string>
		<key>UIImageName</key>
		<string>LaunchNutmeg</string>
	</dict>
</dict>
</plist>
